.cs .inner {
    margin-top: 40px;
    display: flex;
}
.side {
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
    box-sizing: border-box;
}
.side .side-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.side .side-menu ul li {
    margin: 0 8px;
    font-size: 15px;
}
.side .side-menu ul li:first-of-type {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;
}
.side .side-menu ul li:first-of-type a {
    color: var(--font-color);
    cursor: default;
}
.side .side-menu ul li:not(:first-child) a {
    display: block;
    width: 100%;
    padding: 4px 0;
    box-sizing: border-box;
    color: var(--font-color-grey-1);
}
.side .side-menu ul li:hover:not(:first-child) a,
.side .side-menu ul li.active a {
    color: var(--main-color);
}

.cs .contents {
    width: 1200px;
    padding: 0 100px;
    box-sizing: border-box;
}
.cs .contents .con-tit {
    margin-bottom: 56px;
}
.cs .contents .con-tit h2 {
    font-size: 32px;
    font-weight: 800;
}
.cs .contents .con-wrap {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 120px;
}
/* --- */

/* cs-home */
.cs-home {
    margin-top: 16px;
}
.cs-home .inner {
}

.cs-home .visual {
}
.cs-home .visual .inner {
    height: 460px;
    background-image: url(../images/cs/cs_main_top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cs-home .visual h2 {
    position: absolute;
    top: 120px;
    left: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}
.cs-home .visual h2 span:first-child {
    display: block;
    font-size: 22px;
    margin-bottom: 8px;
    opacity: 0;
    transform: translateX(200px);
    animation: csHomeMenu 1s 1 forwards;
}
.cs-home .visual h2 span:last-child {
    display: block;
    animation: csHomeMenu 1.2s 1 forwards;
    opacity: 0;
    transform: translateX(200px);
}
@keyframes csHomeMenu {
    0% {
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.cs-home .visual .menu {
    z-index: 10;
    position: absolute;
    width: 560px;
    height: 440px;
    box-sizing: border-box;
    padding: 32px 52px;
    background-color: #fff;
    border: 1px solid var(--font-color-grey-2);
    box-shadow: 0px 2px 10px #00000020;
    right: 80px;
    bottom: -60px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.cs-home .visual .menu .menu-wrap {
    position: relative;
    overflow: hidden;
    height: 370px;
    box-shadow: 0px 0px 30px 20px #fff inset;
}
.cs-home .visual .menu .menu-slide.animated {
    transition: 0.5s ease-in-out;
}
.cs-home .visual .menu .menu-slide {
    z-index: -1;
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.cs-home .visual .menu li {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-grey-1);
    transition: 0.2s;
    padding: 12px 0;
}
.cs-home .visual .menu li.active {
    color: var(--main-color);
    font-weight: 700;
}

.cs-home .quick-contact {
    margin-top: 100px;
    margin-bottom: 60px;
}
.cs-home .quick-contact .inner {
}
.cs-home .quick-contact .con-tit {
    width: 100%;
}
.cs-home .quick-contact .con-tit h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 28px;
}

.cs-home .quick-contact .con-wrap {
    width: 100%;
    display: flex;
    gap: 32px;
}
.cs-home .quick-contact .con-wrap .con-box {
    width: 30%;
    background-color: var(--background-color-1);
    border-radius: 5px;
}
.cs-home .quick-contact .con-wrap .con-box:last-child {
    width: 40%;
}
.cs-home .quick-contact .con-wrap .con-box a {
    display: block;
    width: 100%;
    height: 210px;
    padding: 44px 32px;
    box-sizing: border-box;
    position: relative;
}
.cs-home .quick-contact .con-wrap .con-box a .desc {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.cs-home .quick-contact .con-wrap .con-box:last-child a .desc {
    justify-content: space-between;
}
.cs-home .quick-contact .con-wrap .con-box a .desc img {
    width: 50px;
}
.cs-home .quick-contact .con-wrap .con-box:first-child a .desc img {
    width: 45px;
    margin-top: 5px;
}
.cs-home .quick-contact .con-wrap .con-box a .desc div {
}
.cs-home .quick-contact .con-wrap .con-box a .desc div strong {
    line-height: 1.8;
    font-weight: 700;
    font-size: 18px;
}
.cs-home .quick-contact .con-wrap .con-box a .desc div p {
    font-weight: 500;
    font-size: 15px;
    color: var(--font-color-grey-1);
}
.cs-home .quick-contact .con-wrap .con-box a .more {
    position: absolute;
    font-size: 15px;
    bottom: 24px;
    right: 32px;
}
.cs-home .quick-contact .con-wrap .con-box a .more i {
    margin-left: 4px;
}
.cs-home .quick-contact .con-wrap .con-box a .desc .left {
    display: flex;
    gap: 20px;
}
.cs-home .quick-contact .con-wrap .con-box a .desc .left img {
}
.cs-home .quick-contact .con-wrap .con-box a .desc .left img div {
}
.cs-home .quick-contact .con-wrap .con-box a .desc .left img div p {
}
.cs-home .quick-contact .con-wrap .con-box a .desc .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cs-home .quick-contact .con-wrap .con-box a .desc .right strong {
    transform: translateY(-14px);
    font-size: 28px;
    font-weight: 700;
}
.cs-home .quick-contact .con-wrap .con-box a .desc .right strong ~ p {
    font-size: 14px;
    transform: translateY(-18px);
}
.cs-home .quick-contact .con-wrap .con-box a .desc .right strong + p::before {
    font-size: 14px;
    content: '평일';
    margin-right: 6px;
}
.cs-home .quick-contact .con-wrap .con-box a > p {
    font-weight: 500;
    color: var(--font-color-grey-1);
    transition: 0.3s;
}
.cs-home .quick-contact .con-wrap .con-box:hover:not(:last-child) a > p {
    color: var(--main-color);
    font-weight: 700;
}
.cs-home .quick-contact .con-wrap .con-box:last-child a > p {
    position: absolute;
    bottom: 24px;
    left: 32px;
    font-size: 14px;
    color: var(--font-color-grey-2);
}

.cs-home .product-cs {
}
.cs-home .product-cs .inner {
    border-top: 1px solid var(--border-color-2);
    padding: 60px 20px;
}
.cs-home .product-cs .con-tit {
    width: 100%;
}
.cs-home .product-cs .con-tit h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 28px;
}
.cs-home .product-cs .con-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.cs-home .product-cs .con-wrap .con-box {
}
.cs-home .product-cs .con-wrap .con-box:hover a {
    background-color: #f9fcff;
    box-shadow: 0px 0px 3px 1px #00000020;
    border: 1px solid var(--border-color-3);
}
.cs-home .product-cs .con-wrap .con-box a {
    /* #edf1fa; */
    background-color: #edf3fa;
    border-radius: 5px;
    padding: 48px 60px 48px 60px;
    height: 260px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    border: 1px solid var(--border-color-1);
}
.cs-home .product-cs .con-wrap .con-box a .desc {
}
.cs-home .product-cs .con-wrap .con-box a .desc strong {
    font-size: 20px;
    font-weight: 700;
}
.cs-home .product-cs .con-wrap .con-box a .desc p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
.cs-home .product-cs .con-wrap .con-box a .desc p.more {
    margin-top: 32px;
    color: var(--font-color-grey-1);
    transition: 0.2s;
    font-weight: 500;
}
.cs-home .product-cs .con-wrap .con-box:hover a .desc p.more {
    color: var(--font-color);
    font-weight: 700;
}
.cs-home .product-cs .con-wrap .con-box:hover a .desc p.more {
    color: var(--main-color);
}
.cs-home .product-cs .con-wrap .con-box a .desc p.more i {
    margin-left: 4px;
}
.cs-home .product-cs .con-wrap .con-box a .pic {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cs-home .product-cs .con-wrap .con-box:hover a .pic {
    animation: csHomeIconHover 1.2s infinite;
}
.cs-home .product-cs .con-wrap .con-box a .pic img {
    width: 80px;
}
@keyframes csHomeIconHover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.cs-home .faq {
}
.cs-home .faq .inner {
    border-top: 1px solid var(--border-color-2);
    padding: 60px 20px;
}
.cs-home .faq .con-tit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cs-home .faq .con-tit h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 28px;
}
.cs-home .faq .con-tit .more {
    padding-bottom: 12px;
}
.cs-home .faq .con-tit .more a {
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s;
}
.cs-home .faq .con-tit .more a i {
    margin-left: 4px;
    font-size: 15px;
}

.cs-home .faq .con-wrap {
    display: flex;
    height: 260px;
    justify-content: space-between;
}
.cs-home .faq .con-wrap .left {
    width: 180px;
}
.cs-home .faq .con-wrap .left ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.cs-home .faq .con-wrap .left ul li {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 16px 32px 16px 0px;
    box-sizing: border-box;
    color: var(--font-color-grey-1);
}
.cs-home .faq .con-wrap .left ul li:hover,
.cs-home .faq .con-wrap .left ul li.active {
    color: var(--font-color);
    font-weight: 700;
}
.cs-home .faq .con-wrap .left ul li i {
    margin-left: 12px;
    opacity: 0;
    transition: 0.2s;
}

.cs-home .faq .con-wrap .left ul li:hover i,
.cs-home .faq .con-wrap .left ul li.active i {
    opacity: 1;
}

.cs-home .faq .con-wrap .right {
    width: 1100px;
    height: 100%;
    background-color: var(--background-color-1);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.cs-home .faq .con-wrap .right .tit {
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--border-color-2);
}
.cs-home .faq .con-wrap .right .desc {
    margin-top: 20px;
    color: #6e7d82;
}
.cs-home .faq .con-wrap .right .plus {
    margin-top: 32px;
}
.cs-home .faq .con-wrap .right .plus a {
    color: var(--font-color-grey-1);
}

.cs-home .notice {
}
.cs-home .notice .inner {
    border-top: 1px solid var(--border-color-2);
    padding: 60px 20px 120px;
}
.cs-home .notice .con-tit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cs-home .notice .con-tit h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 28px;
}
.cs-home .notice .con-tit .more {
    padding-bottom: 12px;
}
.cs-home .notice .con-tit .more a {
    font-weight: 500;
    font-size: 15px;
    transition: 0.2s;
}
.cs-home .notice .con-tit .more a i {
    margin-left: 4px;
    font-size: 15px;
}
.cs-home .notice .con-box {
    width: 100%;
    height: 120px;
    background-color: var(--background-color-1);
    border-radius: 5px;
    padding: 32px 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cs-home .notice .con-box .slide {
    display: flex;
    align-items: center;
    gap: 20px;
}
.cs-home .notice .con-box .slide strong {
    font-weight: 700;
}
.cs-home .notice .con-box .slide p {
    color: var(--font-color-grey-1);
}
.cs-home .notice .con-box .slide strong.fade-in,
.cs-home .notice .con-box .slide p.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.cs-home .notice .con-box .right {
    display: flex;
    gap: 20px;
}
.cs-home .notice .con-box .right p {
    background-color: var(--background-color-3);
    border-radius: 2px;
    color: #ffffffac;
    font-size: 14px;
    padding: 4px 12px;
}
.cs-home .notice .con-box .right p span {
    padding: 0 8px;
}
.cs-home .notice .con-box .right p span.count {
    color: #fff;
}

.cs-home .notice .con-box .right button {
    cursor: pointer;
    border: none;
    background-color: var(--background-color-3);
    color: #fff;
    width: 30px;
    border-radius: 2px;
}
.cs-home .notice .con-box .right button i {
}

.cs-home .notice .more:hover i,
.cs-home .faq .more:hover i {
    animation: more 0.8s cubic-bezier(0.42, 0.68, 0.42, 0.68) infinite;
}
@keyframes more {
    0% {
        transform: translateX(0);
    }
    38% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}
.cs-home .notice .more a,
.cs-home .faq .more a {
    transition: 0.3s;
}
.cs-home .notice .more:hover a,
.cs-home .faq .more:hover a {
    color: var(--main-color);
}

/* //cs-home*/

/* as */
.as {
}
.as .inner {
}

.as .contents .con-wrap {
}
.as .contents .con-wrap .con-list {
    display: flex;
    gap: 52px;
    border-bottom: 1px solid var(--border-color-2);
}
.as .contents .con-wrap .con-list li {
}
.as .contents .con-wrap .con-list li.active {
    border-bottom: 2px solid #000;
}
.as .contents .con-wrap .con-list li a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
    color: var(--font-color-grey-1);
    transition: 0.2s;
}
.as .contents .con-wrap .con-list li:hover a {
    color: #6e7d82;
}
.as .contents .con-wrap .con-list li.active a {
    color: var(--font-color);
    font-weight: 700;
}

.as .contents .con-wrap .con-box {
    text-align: center;
    padding: 60px 0 120px;
}
.as .contents .con-wrap .con-box .txt {
}
.as .contents .con-wrap .con-box .txt strong {
    display: block;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 8px;
}
.as .contents .con-wrap .con-box .txt p {
    font-size: 15px;
    color: var(--font-color-grey-1);
    font-weight: 500;
}
.as .contents .con-wrap .con-box .link {
    margin-top: 60px;
}
.as .contents .con-wrap .con-box .link .tit {
    font-size: 20px;
    font-weight: 800;
}
.as .contents .con-wrap .con-box .link ul {
    width: 500px;
    margin: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    padding: 0 20px;
}
.as .contents .con-wrap .con-box .link ul li {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: var(--background-color-2);
    border-radius: 5px;
}
.as .contents .con-wrap .con-box .link ul li a {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.as .contents .con-wrap .con-box .link ul li a p {
    font-size: 14px;
    font-weight: 500;
}
.as .contents .con-wrap .con-box .link ul li:first-child a p::before {
    content: '';
    display: inline-block;
    background-image: url(../images/cs/chatbot_button_icon.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 4px;
}
.as .contents .con-wrap .con-box .link ul li a p span {
    color: var(--main-color);
}
.as .contents .con-wrap .con-box .link ul li a i {
    display: block;
    margin-left: 12px;
    font-size: 15px;
    font-weight: 800;
    transition: 0.2s;
}
.as .contents .con-wrap .con-box .link ul li:hover a i {
    color: var(--main-color);
}

.as .contents .con-wrap .con-box .pic {
    margin: 60px auto;
    width: 200px;
    height: 153px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.as .contents .con-wrap .con-box .pic01 {
    background-image: url(../images/cs/as1.png);
}
.as .contents .con-wrap .con-box .pic02 {
    background-image: url(../images/cs/as2.png);
}

.as .contents .con-wrap .con-box .btn {
    margin: auto;
    width: 180px;
    height: 54px;
}
.as .contents .con-wrap .con-box .btn a {
    display: block;
    border-radius: 5px;
    color: #fff;
    background-color: var(--background-color-3);
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
}
/* //as */

/* contact */
.contact {
}
.contact .inner {
}

.contact .contents .con-wrap {
}

.contact .contents .con-wrap .con-box {
    text-align: center;
    padding-bottom: 120px;
}
.contact .contents .con-wrap .con-box .txt {
    text-align: left;
}
.contact .contents .con-wrap .con-box .txt strong {
    display: block;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 8px;
}
.contact .contents .con-wrap .con-box .txt p {
    font-size: 15px;
    color: var(--font-color-grey-1);
    font-weight: 500;
}
.contact .contents .con-wrap .con-box .link {
    margin-top: 60px;
}
.contact .contents .con-wrap .con-box .link .tit {
    font-size: 20px;
    font-weight: 800;
}
.contact .contents .con-wrap .con-box .link ul {
    width: 500px;
    margin: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    padding: 0 20px;
}
.contact .contents .con-wrap .con-box .link ul li {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: var(--background-color-2);
    border-radius: 5px;
}
.contact .contents .con-wrap .con-box .link ul li a {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .contents .con-wrap .con-box .link ul li a p {
    font-size: 14px;
    font-weight: 500;
}
.contact .contents .con-wrap .con-box .link ul li:first-child a p::before {
    content: '';
    display: inline-block;
    background-image: url(../images/cs/chatbot_button_icon.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 4px;
}
.contact .contents .con-wrap .con-box .link ul li a p span {
    color: var(--main-color);
}
.contact .contents .con-wrap .con-box .link ul li a i {
    display: block;
    margin-left: 12px;
    font-size: 15px;
    font-weight: 800;
    transition: 0.2s;
}
.contact .contents .con-wrap .con-box .link ul li:hover a i {
    color: var(--main-color);
}

.contact .contents .con-wrap .con-box .btn {
    margin: auto;
    margin-top: 60px;
    width: 180px;
    height: 54px;
}
.contact .contents .con-wrap .con-box .btn a {
    display: block;
    border-radius: 5px;
    color: #fff;
    background-color: var(--background-color-3);
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
}
/* //contact */

/* transfer */
.transfer {
}
.transfer .inner {
}

.transfer .contents .con-wrap {
}
.transfer .contents .con-wrap .con-list {
    display: flex;
    gap: 52px;
    border-bottom: 1px solid var(--border-color-2);
}
.transfer .contents .con-wrap .con-list li {
}
.transfer .contents .con-wrap .con-list li.active {
    border-bottom: 2px solid #000;
}
.transfer .contents .con-wrap .con-list li a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
    color: var(--font-color-grey-1);
    transition: 0.2s;
}
.transfer .contents .con-wrap .con-list li:hover a {
    color: #6e7d82;
}
.transfer .contents .con-wrap .con-list li.active a {
    color: var(--font-color);
    font-weight: 700;
}

.transfer .contents .con-wrap .con-box {
    text-align: center;
    padding: 60px 0 120px;
}
.transfer03 .contents .con-wrap .con-box {
    text-align: left;
}
.transfer .contents .con-wrap .con-box .txt {
}
.transfer .contents .con-wrap .con-box .txt strong {
    display: block;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 12px;
}
.transfer .contents .con-wrap .con-box .txt p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
}
.transfer .contents .con-wrap .con-box .txt p::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    vertical-align: 3px;
    margin-right: 5px;
    background-color: var(--font-color);
}
.transfer03 .contents .con-wrap .con-box .count {
    display: block;
    margin-top: 52px;
    font-size: 20px;
    font-weight: 700;
}
.transfer .contents .con-wrap .con-box .desc {
    margin: 20px auto 60px;
    width: 500px;
    box-sizing: border-box;
    padding: 40px 20px;
    background-color: var(--background-color-2);
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.transfer03 .contents .con-wrap .con-box .desc {
    width: 100%;
    padding-bottom: 60px;
}
.transfer03 .contents .con-wrap .con-box .desc div {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-image: url(../images/cs/ico_noResult.png);
    background-repeat: no-repeat;
}
.transfer .contents .con-wrap .con-box .desc strong {
    width: auto;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}
.transfer03 .contents .con-wrap .con-box .desc strong {
}
.transfer .contents .con-wrap .con-box .desc p {
    width: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}
.transfer03 .contents .con-wrap .con-box .desc p {
    color: var(--font-color-grey-1);
    font-size: 15px;
}
.transfer .contents .con-wrap .con-box .desc p::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--font-color);
    vertical-align: 3px;
    margin-right: 5px;
}
.transfer03 .contents .con-wrap .con-box .desc p::before {
    content: none;
}
.transfer .contents .con-wrap .con-box .btn {
    margin: auto;
    width: 180px;
    height: 54px;
}
.transfer .contents .con-wrap .con-box .btn a {
    display: block;
    border-radius: 5px;
    color: #fff;
    background-color: var(--background-color-3);
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
}
.transfer .contents .con-wrap .con-box .caution {
    margin-top: 60px;
    text-align: left;
}
.transfer .contents .con-wrap .con-box .caution > p {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 4px;
}
.transfer .contents .con-wrap .con-box .caution div p {
    font-size: 14px;
    color: var(--font-color-grey-1);
    line-height: 1.7;
}
.transfer .contents .con-wrap .con-box .caution div p::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--font-color-grey-1);
    vertical-align: 3px;
    margin-right: 5px;
}
/* //transfer */

/* notice */
.notice {
}
.notice .inner {
}

.notice .contents .con-wrap {
    box-sizing: border-box;
    width: 100%;
}
.notice .contents .con-wrap .con-search {
    margin-bottom: 60px;
    display: flex;
    gap: 12px;
}
.notice .contents .con-wrap .con-search .search-inp {
    border: none;
    background-color: var(--background-color-1);
    width: 90%;
    padding: 20px 24px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}
.notice .contents .con-wrap .con-search .search-inp:focus {
    background-color: #fff;
}
.notice .contents .con-wrap .con-search button {
    cursor: pointer;
    width: 10%;
    border-radius: 5px;
    border: 1px solid #e6eaeb;
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;
    transition: 0.2s;
}
.notice .contents .con-wrap .con-search button:hover {
    border: 1px solid #bec4c6;
}

.notice .contents .con-wrap .con-board {
    margin-bottom: 120px;
}
.notice .contents .con-wrap .con-board .count {
    font-size: 15px;
}
.notice .contents .con-wrap .con-board .count span {
}
.notice .contents .con-wrap .con-board ul {
    width: 100%;
    border-top: 1px solid var(--border-color-1);
    margin-top: 12px;
}
.notice .contents .con-wrap .con-board ul li {
    border-bottom: 1px solid var(--border-color-1);
}
.notice .contents .con-wrap .con-board ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 110px;
    padding-left: 20px;
    box-sizing: border-box;
}
.notice .contents .con-wrap .con-board ul li a p:first-child {
    font-weight: 500;
}
.notice .contents .con-wrap .con-board ul li a p:last-child {
    color: var(--font-color-grey-1);
    font-size: 14px;
}

.notice .contents .con-wrap .con-board .more {
    text-align: center;
    width: 180px;
    height: 54px;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    border: 1px solid #e6eaeb;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    cursor: pointer;
    transition: 0.2s;
}
.notice .contents .con-wrap .con-board .more:hover {
    border: 1px solid #bec4c6;
}
.notice .contents .con-wrap .con-board .more i {
    margin-left: 4px;
}
/* //notice */

/* faq */
.faq {
}
.faq .inner {
}

.faq .contents .con-wrap {
    box-sizing: border-box;
    width: 100%;
}
.faq .contents .con-wrap .con-search {
    margin-bottom: 60px;
    display: flex;
    gap: 12px;
    width: 100%;
}
.faq .contents .con-wrap .con-search select {
    width: 20%;
    border: none;
    background-color: var(--background-color-1);
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    appearance: none;
    background-image: url(../images/cs/arr_selectBg_change.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 12px;
}

.faq .contents .con-wrap .con-search select:focus {
    outline: 0;
}
.faq .contents .con-wrap .con-search select option {
    font-size: 15px;
    font-weight: 500;
}
.faq .contents .con-wrap .con-search .search-inp {
    border: none;
    background-color: var(--background-color-1);
    width: 68%;
    padding: 20px 24px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}
.faq .contents .con-wrap .con-search .search-inp:focus {
    background-color: #fff;
}
.faq .contents .con-wrap .con-search button {
    cursor: pointer;
    width: 12%;
    border-radius: 5px;
    border: 1px solid #e6eaeb;
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;
    transition: 0.2s;
}
.faq .contents .con-wrap .con-search button:hover {
    border: 1px solid #bec4c6;
}

.faq .contents .con-wrap .con-board {
    margin-bottom: 120px;
}
.faq .contents .con-wrap .con-board .count {
    font-size: 15px;
}
.faq .contents .con-wrap .con-board .count span {
}
.faq .contents .con-wrap .con-board ul {
    width: 100%;
    border-top: 1px solid var(--border-color-1);
    margin-top: 12px;
}
.faq .contents .con-wrap .con-board ul li {
    border-bottom: 1px solid var(--border-color-1);
}
.faq .contents .con-wrap .con-board ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 110px;
    padding-left: 20px;
    box-sizing: border-box;
}
.faq .contents .con-wrap .con-board ul li a .title {
    font-weight: 500;
}
.faq .contents .con-wrap .con-board ul li a .cate {
    color: var(--font-color-grey-1);
    font-size: 14px;
}
.faq .contents .con-wrap .con-board ul li a .cate span {
    color: var(--main-color);
    margin-right: 4px;
    font-weight: 500;
}

.faq .contents .con-wrap .con-board .more {
    text-align: center;
    width: 180px;
    height: 54px;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    border: 1px solid #e6eaeb;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    cursor: pointer;
    transition: 0.2s;
}
.faq .contents .con-wrap .con-board .more:hover {
    border: 1px solid #bec4c6;
}
.faq .contents .con-wrap .con-board .more i {
    margin-left: 4px;
}
/* //faq */

/* post */
.post {
}
.post .inner {
}

.post .contents .con-wrap {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 120px;
}
.post .contents .con-wrap .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}
.post .contents .con-wrap .cate,
.post .contents .con-wrap .date {
    font-size: 15px;
    color: var(--font-color-grey-1);
    margin-bottom: 28px;
}
.post .contents .con-wrap .con-box {
    border-top: 1px solid var(--border-color-2);
    padding: 28px 0;
}
.post .contents .con-wrap .con-box p {
    font-size: 14px;
    margin-bottom: 12px;
}

.post .contents .con-wrap .more {
    display: block;
    text-align: center;
    width: 180px;
    height: 54px;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    border: 1px solid #e6eaeb;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    cursor: pointer;
    transition: 0.2s;
}
.post .contents .con-wrap .more:hover {
    border: 1px solid #bec4c6;
}
.post .contents .con-wrap .more i {
    margin-left: 4px;
}
/* //post */

/* fareGuarantee */
.fareguarantee {
}
.fareguarantee .inner {
}

.fareguarantee .contents .con-wrap {
}
.fareguarantee .contents .con-wrap .con-list {
    display: flex;
    gap: 52px;
    border-bottom: 1px solid var(--border-color-2);
}
.fareguarantee .contents .con-wrap .con-list li {
}
.fareguarantee .contents .con-wrap .con-list li.active {
    border-bottom: 2px solid #000;
}
.fareguarantee .contents .con-wrap .con-list li a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
    color: var(--font-color-grey-1);
    transition: 0.2s;
}
.fareguarantee .contents .con-wrap .con-list li:hover a {
    color: #6e7d82;
}
.fareguarantee .contents .con-wrap .con-list li.active a {
    color: var(--font-color);
    font-weight: 700;
}

.fareguarantee .contents .con-wrap .con-box {
    margin: 32px 0 120px;
}
.fareguarantee .contents .con-wrap .con-box .desc {
    margin-bottom: 32px;
}
.fareguarantee .contents .con-wrap .con-box .desc strong {
    display: block;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 8px;
}
.fareguarantee .contents .con-wrap .con-box .desc p {
    position: relative;
    font-size: 14px;
    color: var(--font-color-grey-1);
    padding-left: 8px;
}
.fareguarantee .contents .con-wrap .con-box .desc p.ls::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--font-color-grey-1);
    position: absolute;
    left: 0;
    top: 10px;
}

.fareguarantee .contents .con-wrap .con-box .desc table {
    margin-top: 20px;
}
.fareguarantee .contents .con-wrap .con-box .desc table thead {
    border-top: 2px solid var(--border-color-3);
    border-bottom: 1px solid var(--border-color-2);
}
.fareguarantee .contents .con-wrap .con-box .desc table th {
    padding: 16px 0;
    font-weight: 700;
    font-size: 15px;
}

.fareguarantee .contents .con-wrap .con-box .desc table td {
    width: 33.3%;
    text-align: center;
    font-size: 14px;
    color: var(--font-color-grey-1);
    padding: 12px 0;
    border-bottom: 1px solid var(--border-color-1);
    vertical-align: middle;
    border-left: 1px solid var(--border-color-2);
    box-sizing: border-box;
}
.fareguarantee02 .contents .con-wrap .con-box .desc table td:first-child {
    text-align: left;
    width: 30%;
    padding-left: 20px;
}
.fareguarantee02 .contents .con-wrap .con-box .desc table td:last-child {
    text-align: left;
    width: 70%;
    padding-left: 20px;
}
.fareguarantee .contents .con-wrap .con-box .desc table td:first-child {
    border: none;
}
.fareguarantee02 .contents .con-wrap .con-box .desc table td:first-child {
    border-bottom: 1px solid var(--border-color-1);
}
.fareguarantee .contents .con-wrap .con-box .desc table th:not(:last-child) {
    border-right: 1px solid var(--border-color-2);
}

.fareguarantee .contents .con-wrap .con-box .desc table tr:last-child td,
.fareguarantee .contents .con-wrap .con-box .desc table tr:first-child td:last-child {
    border-bottom: 1px solid var(--border-color-2);
}
.fareguarantee02 .contents .con-wrap .con-box .desc table tr:first-child td:last-child {
    border-bottom: 1px solid var(--border-color-1);
}

.fareguarantee02 .contents .con-wrap .con-box .desc .case {
    margin-top: 12px;
}
.fareguarantee02 .contents .con-wrap .con-box .desc .case .case-tit {
    font-weight: 700;
    color: var(--font-color);
}
.fareguarantee02 .contents .con-wrap .con-box .desc .case .case-tit::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--font-color);
    vertical-align: 3px;
    margin-right: 8px;
}
.fareguarantee02 .contents .con-wrap .con-box .desc .case .ls {
    margin-top: 12px;
    margin-left: 28px;
}
.fareguarantee02 .contents .con-wrap .con-box .desc td span {
    font-size: 13px;
    color: var(--font-color-grey-2);
}
/* //fareGuarantee */

/* manual */
.manual {
}
.manual .inner {
}

.manual .contents .con-wrap {
    box-sizing: border-box;
    width: 100%;
}

.manual .contents .con-wrap .con-tab {
    margin-bottom: 24px;
}
.manual .contents .con-wrap .con-tab ul {
    display: flex;
    gap: 12px;
}
.manual .contents .con-wrap .con-tab ul li {
}
.manual .contents .con-wrap .con-tab ul li a {
    display: block;
    padding: 12px 24px;
    background-color: var(--background-color-1);
    border-radius: 30px;
    font-size: 14px;
    color: var(--font-color-grey-1);
    font-weight: 500;
    transition: 0.2s;
}
.manual .contents .con-wrap .con-tab ul li:hover a {
    background-color: var(--border-color-2);
}
.manual .contents .con-wrap .con-tab ul li.active:hover a,
.manual .contents .con-wrap .con-tab ul li.active a {
    background-color: var(--background-color-3);
    color: #fff;
}

.manual .contents .con-wrap .con-search {
    margin-bottom: 60px;
    display: flex;
    gap: 12px;
}
.manual .contents .con-wrap .con-search .search-inp {
    border: none;
    background-color: var(--background-color-1);
    width: 90%;
    padding: 20px 24px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}
.manual .contents .con-wrap .con-search .search-inp:focus {
    background-color: #fff;
}
.manual .contents .con-wrap .con-search .search-inp::placeholder {
    color: var(--font-color-grey-2);
    font-weight: 500;
}
.manual .contents .con-wrap .con-search button {
    cursor: pointer;
    width: 10%;
    border-radius: 5px;
    border: 1px solid #e6eaeb;
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;
    transition: 0.2s;
}
.manual .contents .con-wrap .con-search button:hover {
    border: 1px solid #bec4c6;
}

.manual .contents .con-wrap .con-board {
    margin-bottom: 120px;
}
.manual .contents .con-wrap .con-board .count {
    font-size: 15px;
}
.manual .contents .con-wrap .con-board .count span {
    margin-right: 2px;
}
.manual .contents .con-wrap .con-board ul {
    border-top: 1px solid var(--border-color-1);
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.manual .contents .con-wrap .con-board ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 28px 32px 28px 24px;
    box-sizing: border-box;
    background-color: var(--background-color-1);
    border-radius: 5px;
}
.manual .contents .con-wrap .con-board ul li .desc {
    display: flex;
    align-items: center;
    gap: 20px;
}
.manual .contents .con-wrap .con-board ul li .desc .pic {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}
.manual .contents .con-wrap .con-board ul li .desc .pic img {
    width: 70px;
    height: 70px;
}
.manual .contents .con-wrap .con-board ul li .desc span {
    color: var(--font-color-grey-1);
    font-size: 14px;
}
.manual .contents .con-wrap .con-board ul li .desc p {
    font-weight: 700;
}
.manual .contents .con-wrap .con-board ul li button {
    background-color: #fff;
    border: 1px solid var(--border-color-2);
    padding: 8px 16px 9px 20px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}
.manual .contents .con-wrap .con-board ul li button i {
    margin-left: 12px;
    font-size: 18px;
    vertical-align: -3px;
}

/* .manual .contents .con-wrap .con-board .more {
    text-align: center;
    width: 180px;
    height: 54px;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    border: 1px solid #e6eaeb;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    cursor: pointer;
    transition: 0.2s;
}
.manual .contents .con-wrap .con-board .more:hover {
    border: 1px solid #bec4c6;
}
.manual .contents .con-wrap .con-board .more i {
    margin-left: 4px;
} */
/* //manual */
